<!--suppress XmlUnboundNsPrefix -->
<configuration debug="true">
    <property name="LOG_DIR" value="/sdcard/WifiLocationLogger" />
    <property name="LOG_FILE" value="wifilog" />

    <appender name="LOGCAT" class="ch.qos.logback.classic.android.LogcatAppender" >
        <tagEncoder>
            <pattern>%logger{0}</pattern>
        </tagEncoder>

        <encoder>
            <pattern>[ %thread ] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${LOG_FILE}.csv</file>

        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS},%msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover period -->
            <fileNamePattern>${LOG_DIR}/${LOGFILE}.%d.csv</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="FILE_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>

        <file>${LOG_DIR}/${LOG_FILE}.debug.txt</file>

        <encoder>
            <pattern>%date{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover period -->
            <fileNamePattern>${LOG_DIR}/${LOG_FILE}.%d.debug.txt</fileNamePattern>
            <!-- keep 7 days' worth of history -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- additivity="false" ensures these messages are not also logged in root -->
    <logger name="data" additivity="false" >
        <!--appender-ref ref="LOGCAT" /-->
    </logger>

    <logger name="disk" level="INFO" additivity="false" >
        <appender-ref ref="FILE" />
    </logger>

    <root level="TRACE" >
        <appender-ref ref="LOGCAT" />
        <appender-ref ref="FILE_DEBUG" />
    </root>
</configuration>
